@import "../colors/amber.css";
@import "../fonts/oswald.css";
@import "../styles/borders-extra.css";
@import "../styles/rounding-normal.css";
@import "../styles/shadows-extra.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-bottom.css";

:root {
  --preset-colors: "amber";
  --preset-fonts: "oswald";
  --preset-borders: "extra";
  --preset-rounding: "normal";
  --preset-shadows: "extra";
  --preset-spacing: "normal";
  --preset-gradients: "on";
  --preset-accent: "bottom";
}
