@import "../colors/deep-sea.css";
@import "../fonts/fira-sans.css";
@import "../styles/borders-none.css";
@import "../styles/rounding-extra.css";
@import "../styles/shadows-extra.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-left.css";

:root {
  --preset-colors: "deep-sea";
  --preset-fonts: "fira-sans";
  --preset-borders: "none";
  --preset-rounding: "extra";
  --preset-shadows: "extra";
  --preset-spacing: "normal";
  --preset-gradients: "on";
  --preset-accent: "left";
}
