@import "../fonts/cinzel.css";
@import "../colors/gold.css";
@import "../styles/background-gray-low.css";
@import "../styles/borders-minimal.css";
@import "../styles/rounding-none.css";
@import "../styles/shadows-extra.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-left.css";
@import "../styles/accent-3.css";
@import "../styles/accent-primary.css";

/* Metadata for the editor */
:root {
  --preset-colors: "gold";
  --preset-fonts: "cinzel";
  --preset-background: "gray-low";
  --preset-borders: "minimal";
  --preset-rounding: "none";
  --preset-shadows: "extra";
  --preset-spacing: "normal";
  --preset-gradients: "on";
  --preset-accent: "left";
  --preset-accentSize: "3";
  --preset-accentColor: "primary";
}
