@import "../colors/white.css";
@import "../fonts/ubuntu.css";
@import "../styles/background-gray-low.css";
@import "../styles/borders-none.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-none.css";

/* Metadata for the editor */
:root {
  --preset-colors: "white";
  --preset-fonts: "ubuntu";
  --preset-background: "gray-low";
  --preset-borders: "none";
  --preset-shadows: "normal";
  --preset-spacing: "normal";
  --preset-gradients: "on";
  --preset-accent: "none";
}
