/*! See license: https://github.com/FranBarInstance/bootstrap-dynamic-themes */
@import "../fonts/ubuntu.css";
@import "../colors/white.css";
@import "../styles/background-gray-low.css";
@import "../styles/borders-minimal.css";
@import "../styles/rounding-normal.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-none.css";
@import "../styles/accent-1.css";
@import "../styles/accent-primary.css";

/* Metadata for the editor */
:root {
  --preset-colors: "white";
  --preset-fonts: "ubuntu";
  --preset-background: "gray-low";
  --preset-borders: "minimal";
  --preset-rounding: "normal";
  --preset-shadows: "normal";
  --preset-spacing: "normal";
  --preset-gradients: "on";
  --preset-accent: "none";
  --preset-accentSize: "1";
  --preset-accentColor: "primary";
}
