@import "../colors/lavender.css";
@import "../fonts/playfair-display.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-extra.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-large.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-left.css";

:root {
  --preset-colors: "lavender";
  --preset-fonts: "playfair-display";
  --preset-borders: "normal";
  --preset-rounding: "extra";
  --preset-shadows: "normal";
  --preset-spacing: "large";
  --preset-gradients: "on";
  --preset-accent: "left";
}
