@import "../colors/midnight.css";
@import "../fonts/cormorant-garamond.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-normal.css";
@import "../styles/shadows-extra.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-top.css";

:root {
  --preset-colors: "midnight";
  --preset-fonts: "cormorant-garamond";
  --preset-borders: "normal";
  --preset-rounding: "normal";
  --preset-shadows: "extra";
  --preset-spacing: "normal";
  --preset-gradients: "on";
  --preset-accent: "top";
}
