@import "../colors/olive.css";
@import "../fonts/spectral.css";
@import "../styles/borders-extra.css";
@import "../styles/rounding-normal.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-right.css";

:root {
  --preset-colors: "olive";
  --preset-fonts: "spectral";
  --preset-borders: "extra";
  --preset-rounding: "normal";
  --preset-shadows: "normal";
  --preset-spacing: "normal";
  --preset-gradients: "off";
  --preset-accent: "right";
}
