/*! See license: https://github.com/FranBarInstance/bootstrap-dynamic-themes */
@import "../fonts/merriweather.css";
@import "../colors/white.css";
@import "../styles/background-none.css";
@import "../styles/borders-minimal.css";
@import "../styles/rounding-none.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-large.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-bottom.css";
@import "../styles/accent-1.css";
@import "../styles/accent-gray.css";

/* Metadata for the editor */
:root {
  --preset-colors: "white";
  --preset-fonts: "merriweather";
  --preset-background: "none";
  --preset-borders: "minimal";
  --preset-rounding: "none";
  --preset-shadows: "normal";
  --preset-spacing: "large";
  --preset-gradients: "off";
  --preset-accent: "bottom";
  --preset-accentSize: "1";
  --preset-accentColor: "gray";
}
