@import "../colors/sky.css";
@import "../fonts/ubuntu.css";
@import "../styles/borders-none.css";
@import "../styles/rounding-normal.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-bottom.css";

:root {
  --preset-colors: "sky";
  --preset-fonts: "ubuntu";
  --preset-borders: "none";
  --preset-rounding: "normal";
  --preset-shadows: "normal";
  --preset-spacing: "normal";
  --preset-gradients: "on";
  --preset-accent: "bottom";
}
