@import "../colors/steel-blue.css";
@import "../fonts/outfit.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-extra.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-large.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-right.css";

:root {
  --preset-colors: "steel-blue";
  --preset-fonts: "outfit";
  --preset-borders: "normal";
  --preset-rounding: "extra";
  --preset-shadows: "normal";
  --preset-spacing: "large";
  --preset-gradients: "off";
  --preset-accent: "right";
}
